Data has to be splitted into train, test subsets

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.random.randint(20, 56, (40, 5)),columns=['A','B','C','D','E'])
data

     A   B   C   D   E
0   38  53  36  21  34
1   40  40  23  36  49
2   40  45  30  27  48
3   22  34  24  33  52
4   32  45  49  45  35
5   49  43  32  38  48
6   45  52  45  55  54
7   24  25  38  49  29
8   36  39  55  50  24
9   45  29  49  22  41
10  44  53  30  53  40
11  21  36  26  21  20
12  53  37  52  37  44
13  45  39  50  42  41
14  53  21  28  43  44
15  54  41  35  20  50
16  30  49  35  41  52
17  37  34  39  33  34
18  35  31  41  38  45
19  34  29  52  43  53
20  40  28  28  25  46
21  49  21  50  55  20
22  25  31  21  31  42
23  48  50  32  27  28
24  21  27  30  55  48
25  20  24  31  24  20
26  40  54  21  25  28
27  28  45  51  47  23
28  31  32  24  39  49
29  39  36  32  31  35
30  45  44  41  43  44
31  50  44  45  35  29
32  45  24  55  41  35
33  55  26  47  49  53
34  53  36  54  46  54
35  55  40  49  51  38
36  24  52  51  22  37
37  25  26  48  34  45
38  26  46  47  52  39
39  47  21  22  29  38

In [3]:
def randomSplitter(dataset_size, random_seed=42, margin=0.2):
    '''
        randomly shuffles the range(0, dataset_size)
        and return 2 slices, separated according to margin from the dataset_size
    '''
    indices = list(range(dataset_size))
    split_index = int(np.floor(margin * dataset_size))
    np.random.seed(random_seed)
    np.random.shuffle(indices)
    train_indices, val_indices = indices[split_index:], indices[:split_index]
    return train_indices, val_indices

In [4]:
train_set_indices, test_set_indices = randomSplitter(data.shape[0], margin=0.4)

In [5]:
new_data = data.iloc[train_set_indices].reset_index(drop=True)
new_data.columns
# .drop(columns=['Index'])
new_data.iloc[5][2:]
new_data
# indexing as this is useful implementing __getitem__()

     A   B   C   D   E
0   37  34  39  33  34
1   21  27  30  55  48
2   38  53  36  21  34
3   55  26  47  49  53
4   49  43  32  38  48
5   21  36  26  21  20
6   40  40  23  36  49
7   39  36  32  31  35
8   49  21  50  55  20
9   40  45  30  27  48
10  45  44  41  43  44
11  24  52  51  22  37
12  22  34  24  33  52
13  55  40  49  51  38
14  48  50  32  27  28
15  45  24  55  41  35
16  44  53  30  53  40
17  25  31  21  31  42
18  35  31  41  38  45
19  40  28  28  25  46
20  24  25  38  49  29
21  53  21  28  43  44
22  31  32  24  39  49
23  26  46  47  52  39

Otherwise indexing from old dataframe is preserved (subset of randomly shuffled index)

In [6]:
data2 = pd.DataFrame(data.loc[train_set_indices])
data2

     A   B   C   D   E
17  37  34  39  33  34
24  21  27  30  55  48
0   38  53  36  21  34
33  55  26  47  49  53
5   49  43  32  38  48
11  21  36  26  21  20
1   40  40  23  36  49
29  39  36  32  31  35
21  49  21  50  55  20
2   40  45  30  27  48
30  45  44  41  43  44
36  24  52  51  22  37
3   22  34  24  33  52
35  55  40  49  51  38
23  48  50  32  27  28
32  45  24  55  41  35
10  44  53  30  53  40
22  25  31  21  31  42
18  35  31  41  38  45
20  40  28  28  25  46
7   24  25  38  49  29
14  53  21  28  43  44
28  31  32  24  39  49
38  26  46  47  52  39

In [15]:
sample = pd.DataFrame({'A':[2,3,4,5],'B':[1,1,1,1]})
print(sample)
a, b = sample.iloc[1]
print(a,b)
print(sample.loc[1,('B')])

   A  B
0  2  1
1  3  1
2  4  1
3  5  1
3 1
1

In [7]:
data2.drop_duplicates(subset=['E']).reset_index(drop=True)

     A   B   C   D   E
0   37  34  39  33  34
1   21  27  30  55  48
2   55  26  47  49  53
3   21  36  26  21  20
4   40  40  23  36  49
5   39  36  32  31  35
6   45  44  41  43  44
7   24  52  51  22  37
8   22  34  24  33  52
9   55  40  49  51  38
10  48  50  32  27  28
11  44  53  30  53  40
12  25  31  21  31  42
13  35  31  41  38  45
14  40  28  28  25  46
15  24  25  38  49  29
16  26  46  47  52  39